*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif;
}
.main-nav , .main-nav-2{
 display:flex;
 align-items: center;
 gap: 20px;
}
.logo, .logo-2{
 margin-left: 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.img-logo, .img-logo-2{
 height: 50px;
 width: 50px;
}
.img-logo img , .img-logo-2 img{
 height: 100%;
 width: 100%;
}
.logo-text h4, .logo-text-2 h4{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list, .list-2{
 flex: 1;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 40px;
 height: 45px;
 background-color: rgb(3, 136, 185);
 box-shadow: 0 0 5px rgba(0, 132, 149, 0.396);
}
.list a, .list-2 a{
 color: white;
 text-decoration: none;
 position: relative;
 padding: 6px 0;
}
.list a span, .list-2 a span{
 position: absolute;
 left: 0;
 background-color: red;
 height:2px;
 width: 100%;
 bottom: -8px;
 margin-top: 5px;
 transition: 0.1s;
 opacity: 0;

}
.list a:hover  span, .list-2 a:hover span{
 bottom: 0;
 opacity: 1;
}
.list{
 position: relative;
}
.click-nav{
 position: absolute;
 right: 4px;
 display: none;
}
.click-nav svg{
fill: white;
}
.list-2{
 position: relative;
 /* display: none; */
}
.click-nav-2{
 position: absolute;
 left: 10px;
 top: 10px;
}
.click-nav-2 svg{
 fill: white;
 width: 50px;
 height: 50px;
 display: none;
}
.main-nav-2{
 display: none;
}
@media screen and (max-width:520px){
 .main-nav-2{
  width: 80%;
  height:450px;
  margin-left: auto;
  display: none;
 }
 .click-nav-2 svg {
  display: flex;
 }
 .list a{
  display: none;
 }
 .list-2{
  flex-direction: column;
  height: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.421);
 }
 .list-2 a{
  width: 100%;
  text-align: center;
 }
 .click-nav{
  display: flex;
 }
}
